<!--Header-->
<div class="row">
  <div class="col-12">
    <h3>Welcome to <b>WikiLinker</b>! <small>Online tool for text-based wiki search </small></h3>
  </div>
</div>
<div [hidden]=wikiLinkedArticle.text class="row">
  <div class="col-12">
    <form [formGroup]="articleForm" (ngSubmit)="onSubmit(articleForm.value)">
      <div class="form-group">
        <textarea id="description" rows="2" formControlName="text" class="form-control"
                  placeholder="Enter the text you want to search in Wiki...">
        </textarea>
      </div>
      <div class="custom-control custom-checkbox float-left">
        <input type="checkbox" formControlName="recursiveSearch" class="custom-control-input" id="defaultUnchecked">
        <label class="custom-control-label" for="defaultUnchecked">Recursive search</label>
      </div>
      <div class="form-group float-right">
        <button id="button-reset" type="button" [disabled]="searchStarted" class="btn btn-secondary" (click)="reset()">
          <fa-icon [icon]="faUndo"></fa-icon>
        </button>
        &nbsp;
        <button id="button-submit" type="submit" [disabled]="!articleForm.valid" class="btn btn-primary">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </div>
    </form>
  </div>
</div>
<!-- Progress bar -->
<div [hidden]="!searchStarted" class="row">
  <div class="col-12">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    &nbsp;<b>WikiLinker</b> is working on your request...
  </div>
</div>
<!--Saved articles & Search history-->
<div class="row">
  <div class="col-12 col-md-7">
    <!-- Saved articles -->
    <div class="row top-buffer">
      <div class="col-12">
        <div class="row">
          <div class="col-8">
            <h4>Saved articles <span class="badge badge-light">{{ savedArticles.length }}</span></h4>
          </div>
          <div class="col-4">
            <a class="float-right" [routerLink]="['/saved-articles']">View all...</a>
          </div>
        </div>
      </div>
      <div class="col-12 top-buffer" *ngFor="let savedArticle of savedArticles | slice:0:2">
        <div class="row">
          <div class="col-12 col-md-3">
            <a target="_blank" href="{{ savedArticle.url }}">
              <img style="width:9rem; height:8rem;" class="bottom-buffer" src="{{ savedArticle.imageUrl }}" alt="Smiley face" />
            </a>
          </div>
          <div class="col-12 col-md-9">
            <button class="btn btn-light btn-xs float-right py-0" style="font-size: 0.8em;"
                    (click)="searchDetails(savedArticle.description)">
              <fa-icon [icon]="faSearch"></fa-icon>
            </button>
            <button class="btn btn-light btn-xs float-right py-0" style="font-size: 0.8em;"
                    (click)="removeSavedArticle(savedArticle.text)">
              <fa-icon style="color:gray" [icon]="faTrash"></fa-icon>
            </button>
            <a target="_blank" href="{{ savedArticle.url }}">{{ savedArticle.text }} <small>({{ (savedArticle.type)}})</small></a>
            <div class="small" [innerHTML]="savedArticle.linkedDescription"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-5">
    <!-- Search History -->
    <div class="row top-buffer">
      <div class="col-12">
        <div class="row">
          <div class="col-8">
            <h4>Search history <span class="badge badge-light">{{ searchHistory.length }}</span></h4>
          </div>
          <div class="col-4">
            <a class="float-right" [routerLink]="['/search-history']">View all...</a>
          </div>
        </div>
        <ul>
          <li *ngFor="let historyItem of searchHistory | slice:0:10">
            <a [routerLink]="['/search-result', historyItem.text]">
              {{ historyItem.text.length > 100 ? historyItem.text.slice(0, 50) + "..." : historyItem.text}}
            </a>
            <button class="btn btn-light btn-sm float-right py-0" style="font-size: 0.8em;"
                    (click)="removeFromHistory(historyItem.text)">
              <fa-icon style="color:gray" [icon]="faTrash"></fa-icon>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
