<p>Welcome to <b>WikiLinker</b>. Online tool for text based wiki search</p>
<form [formGroup]="articleForm" (ngSubmit)="onSubmit(articleForm.value)">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <label for="description">Search request</label>
        <textarea id="description" rows="5" formControlName="text" class="form-control" placeholder="Put your text here...">
        </textarea>
      </div>
      <div class="form-group float-right">
        <button class="btn btn-secondary" (click)="reset()">
          Reset
        </button>
        &nbsp;
        <button type="submit" [disabled]="!articleForm.valid" class="btn btn-primary">
          Submit
        </button>
      </div>
    </div>
    <div class="col-12">
      <div [hidden]=!wikiLinkedArticle.text class="form-group">
        <label><b>Wiki search result</b></label>
        <div [innerHTML]="wikiLinkedArticle.text"></div>
      </div>
    </div>
    <div [hidden]=!wikiLinkedArticle.text class="col-12">
      <label><b>{{ photos.length }} Wiki articles</b></label>
      <div class="row" *ngFor="let type of entityTypes">
        <div class="col-12">
          <label>{{ type.name }}</label>
        </div>
        <div class="col-md-4 col-12" *ngFor="let photo of type.photos">
          <p><button class="btn btn-secondary btn-sm"><b>+</b>Add</button></p>
          <a target="_blank" href="{{ photo.link }}">
            <figure>
              <img style="width:20rem; height:15rem;" src="{{ photo.imageUrl }}" />
              <figcaption>{{ photo.title }}</figcaption>
            </figure>
          </a>
          <p>{{ photo.description }}</p>
        </div>
      </div>
    </div>
  </div>
</form>
