<button class="btn btn-light btn-sm float-right"
        (click)="removeArticle(searchPhrase, innerLink.text)">
  <fa-icon style="color:gray" [icon]="faTrash"></fa-icon>
</button>
<app-article [article]="article"></app-article>
<div class="row" *ngFor="let innerType of article.innerLinkTypes">
  <div class="col-12 top-buffer">
    <p>{{ innerType.name }}</p>
  </div>
  <div class="col-12 col-md-6" *ngFor="let innerLink of innerType.links">
    <!--Child articles-->
    <button class="btn btn-light btn-sm float-right"
            (click)="removeArticle(searchPhrase, innerLink.text)">
      <fa-icon style="color:gray" [icon]="faTrash"></fa-icon>
    </button>
    <app-article [article]="innerLink" [miniSize]="true"></app-article>
  </div>
</div>
